
/*.cft-box-top,.cft-box-bottom,.cft-box-right,.cft-box-left  {
    border: solid 4px #030303;
}*/

.cft-box-top {
    border-top: 4px solid #030303;
}
.cft-box-bottom {
    border-bottom: 4px solid #030303;
}
.cft-box-right {
    border-right: 4px solid #030303;
}
.cft-box-left {
    border-left: 4px solid #030303;
}



.cft-hl-top {
    border-top: 1px solid #030303;
}
.cft-hl-bottom {
    border-bottom: 1px solid #030303;
}
.cft-hl-right {
    border-right: 1px solid #030303;
}
.cft-hl-left {
    border-left: 1px solid #030303;
}

@media screen  {
    #wb-lng li:first-child {
        border-left: 0;
    }
}
@media screen and (max-width: 991px) {
    #wb-lng li {
        float: right;
        list-style-type: none;
        padding: 6px 15px;
    }
}
@media screen {
    #wb-lng a {
        color: #fff;
        text-decoration: none;
    }
}
/*search*/
.cdft_menu  {
    margin:0; padding:0
}

.menu_item  {
    list-style-type: none;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    width: 100px;
    background: #d3d3d3;
    text-align: center;
}

.search {
    border: thin solid #aaaaaa;
    padding: 1px;
    margin: 1px;
    height: auto;
    width: 50%;
}

.gs_lc0 {
    position: relative;
}

.bottom_spacer {
    margin-top: 500px;
}


#company, #brand {
    width: 150px;
}

.search_link {
    color: #006621;
}

.search_result {
    color: #545454;
}


