<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
    wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Tableau canadien d'information sur le médicament
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description" content="Nom du produit drug facts table">
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <!--<link href="./theme-base/assets/favicon.ico" rel="icon" type="image/x-icon">-->
    <link rel="stylesheet" href="./theme-base/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="" rel="shortcut icon"/>
    <link rel="stylesheet" href="./theme-base/css/ie8-theme.min.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./wet-boew/css/noscript.min.css"/>
    </noscript>
    <link rel="stylesheet" href="./styles/dft.css"/>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<ul id="wb-tphp">
    <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
        <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
</ul>
<header role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">
                    <section id="wb-lng">
                        <h2>Language selection</h2>
                        <ul class="text-right">
                            <li class="curr">Français<span>(current)</span></li>
                            <li><a lang="en" hreflang="en" href="Facts-Table-base-en.html">English&#32;</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">Tableau canadien d'information sur le médicament - Produit</h1>
    <section>
        <img class="center-block img-responsive" alt="Image description of the product including name" src=""/>
    </section>
    <div>
        <div class="cft-box-top cft-box-right cft-box-left cft-box-bottom">
            <div class="row">
                <section class="col-sm-8 col-xs-12">
                    <div class="mrgn-lft-sm mrgn-rght-sm">
                        <h2>Ingrédient actif</h2>
                        <ul>
                            <li>Ingrédient 1</li>
                        </ul>
                    </div>
                </section>
                <div class="col-sm-4 col-xs-12">
                    <div class="mrgn-lft-sm mrgn-rght-sm">
                        <h2>Utilité</h2>
                        <ul>
                            <li>Utilité 1</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top cft-box-bottom">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Usage</h2>
                            <ul>
                                <li>Usage 1</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section>
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Mises en garde</h2>
                            <ul>
                            <li>Pour usage externe seulement</li>
                            <li>Pour usage rectal seulement</li>
                            <li>Pour usage vaginal seulement</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Warnings Section: delete any rows (headings that are not applicable-->
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Syndrome de Reye</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>

                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Alerte aux allergies</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>

                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Alerte à l’asthme</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>

                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement d’inflammabilité</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Étouffement</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant l’alcool</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant le foie</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant les saignements gastriques</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant les maux de gorge</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant la posologie</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Avertissement concernant les maladies transmissibles sexuellement (MTS)</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Consultez un médecin avant l’utilisation si vous</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Lorsque vous utilisez ce produit</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Cessez d’utiliser ce produit et consultez un médecin si</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Autres avertissements</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Garder hors de la portée des enfants</h3>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>Valeurs d'avertissement</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Mode d’emploi</h2>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>direction Values</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Autres renseignements</h2>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>other information Values</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Ingrédients inactifs</h2>
                            <p>
                                <!--Préambule si nécessaire-->
                            </p>
                            <ul>
                                <!-- <li>inactive ingredient Values</li>-->
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Questions?</h2>
                            <p>
                                <!-- Sponsor Contact information-->
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!--Content ends-->
    <dl id="wb-dtmd">
        <dt>Date modified:&#32;</dt>
        <dd>
            <time property="dateModified">2014-02-24</time>
        </dd>
    </dl>
</main>
<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
    <!-- <div class="container">
         <nav role="navigation" class="row">
             <h2>About this site</h2>
             <section class="col-sm-3">
                 <h3>Contact us</h3>
                 <ul class="list-unstyled">
                     <li><a href="https://github.com/wet-boew/wet-boew/issues/new">Questions or comments?</a></li>
                 </ul>
             </section>
             <section class="col-sm-3">
                 <h3>About</h3>
                 <ul class="list-unstyled">
                     <li><a href="http://wet-boew.github.io/v4.0-ci/index-en.html#about">About the Web Experience
                         Toolkit</a></li>
                     <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp">About the Web Standards</a></li>
                 </ul>
             </section>
             <section class="col-sm-3">
                 <h3>News</h3>
                 <ul class="list-unstyled">
                     <li><a href="https://github.com/wet-boew/wet-boew/pulse">Recent project activity</a></li>
                     <li><a href="https://github.com/wet-boew/wet-boew/graphs">Project statistics</a></li>
                 </ul>
             </section>
             <section class="col-sm-3">
                 <h3>Stay connected</h3>
                 <ul class="list-unstyled">
                     <li><a href="https://twitter.com/WebExpToolkit">Twitter</a></li>
                 </ul>
             </section>
         </nav>
     </div>-->
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="./wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="./wet-boew/js/ie8-wet-boew2.min.js"></script>

<![endif]-->
</body>
</html>
