<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Canadian Drug Facts Table - Acme Sunscreen SPF 45</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description"
          content="'Product Name' Drug Facts Table">
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <!--<link href="./theme-base/assets/favicon.ico" rel="icon" type="image/x-icon">-->
    <link rel="stylesheet" href="./theme-base/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="" rel="shortcut icon"/>
    <link rel="stylesheet" href="./theme-base/css/ie8-theme.min.css"/>
    <script src="./js/jquery.min.js"></script>
    <script src="./wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./wet-boew/css/noscript.min.css"/>
    </noscript>
    <link rel="stylesheet" href="./styles/dft.css"/>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
<ul id="wb-tphp">
    <li class="wb-slc">
        <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
        <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
</ul>
<header role="banner">
    <div id="wb-bnr">
        <div id="wb-bar">
            <div class="container">
                <div class="row">
                    <section id="wb-lng">
                        <h2>Language selection</h2>
                        <ul class="text-right">
                            <li><a lang="fr" hreflang="fr" href="Facts-Table-Example1-fr.html">Français</a></li>
                            <li class="curr">English&#32;<span>(current)</span></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<main role="main" property="mainContentOfPage" class="container">
    <h1 id="wb-cont" property="name">Tableau canadien d'information sur le médicament - Acme d'écran solaire FPS 45</h1>
    <section><!-- optional section-->
        <img class="center-block img-responsive" alt="Acme Sunscreen lotion label, 100ml, SPF 45"
             src="./assets/lotion-311802_640c.png"/>
    </section>
    <div>
        <div class="cft-box-top cft-box-right cft-box-left cft-box-bottom">
            <div class="row">
                <section class="col-sm-8 col-xs-12">
                    <div class="mrgn-lft-sm mrgn-rght-sm">
                        <h2>Ingrédient actif</h2>
                        <ul>
                            <li>Avobenzone 3%</li>
                            <li>Homosalate 8%</li>
                        </ul>
                    </div>
                </section>
                <div class="col-sm-4 col-xs-12">
                    <div class="mrgn-lft-sm mrgn-rght-sm">
                        <h2>Purpose</h2>
                        <ul>
                            <li>Sunscreen</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top cft-box-bottom">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Uses</h2>
                            <ul>
                                <li>helps prevent sunburn</li>
                                <li>If used as directed with other sun protection measures [see Directions for Use],
                                    decreases the risk of skin cancer and early skin aging caused by the sun
                                </li>
                                <li>water/sweat resistant</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="mrgn-lft-sm mrgn-rght-sm">
                        <h2>Warnings</h2>
                        <ul>
                            <li>For external use only</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Warnings Section: delete any rows (headings that are not applicable-->

            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>When using this product</h3>
                            <p>
                                Avoid contact with eyes. If contact occurs,rinse with water.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Do not use</h3>
                            <ul>
                                <li>on damaged or broken skin</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Stop use and ask a doctor if</h3>
                            <ul>
                                <li>rash occurs</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Other warnings</h3>
                            <h4>Sun Protection Measures</h4>
                            <p>Spending time in the sun increases your risk of skin cancer and early skin aging. To
                                decrease this risk, regularly use a sunscreen with a broad spectrum SPF value of 15 or
                                higher and other sun
                                protection measures including:</p>
                            <ul>
                                <li>limit time in the sun, especially from 10 a.m.-2 p.m.</li>
                                <li>wear long-sleeved shirts, pants, hats, and sunglasses</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-hl-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h3>Keep out reach of children</h3>
                            <p>If swallowed, call a poison control centre or get medical help right away.</p>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Directions</h2>
                            <ul>
                                <li>apply generously 15 minutes before sun exposure</li>
                                <li>reapply at least every 2 hours</li>
                                <li>for use on children less than 6 months of age, consult a health care professional
                                </li>
                                <li>reapply after 40 minutes of swimming or sweating</li>
                                <li>reapply right after towel drying</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Inactive Ingredients</h2>
                            <ul>
                                <li>Styrene / Acrylates Copolymer</li>
                                <li>Triethanolamine</li>
                                <li>Water</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <section class="cft-box-top">
                        <div class="mrgn-lft-sm mrgn-rght-sm">
                            <h2>Questions?</h2>
                            <p>
                                Call: 1-800-XXX-XXXX or email us at name@domain.com
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--Content ends-->
    <dl id="wb-dtmd">
        <dt>Date modified:&#32;</dt>
        <dd>
            <!--Add date modified-->
            <time property="dateModified">2017-04-18</time>
        </dd>
    </dl>
</main>
<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
</footer>
<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="./wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="./wet-boew/js/ie8-wet-boew2.min.js"></script>

<![endif]-->
</body>
</html>